{% extends "partials/layout.html" %}

{% block header %}
{% include "partials/header.html" %}
{% endblock header %}

{% block bigimage %}
{% include "partials/bigimage.html" %}
{% endblock bigimage %}

{% block currentjob %}
{% include "partials/currentjob.html" %}
{% endblock currentjob %}

{% block recentjob %}
{% include "partials/recentjob.html" %}
{% endblock recentjob %}

{% block category %}
{% include "partials/category.html" %}
{% endblock category %}
   
{% block testimonial %}
{% include "partials/testimonial.html" %}
{% endblock testimonial %}
  
{% block blog %}
{% include "partials/blog.html" %}
{% endblock blog %}
 
{% block subscribe %}
{% include "partials/subscribe.html" %}
{% endblock subscribe %}
   
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
    
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}
    
  